<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
 <head>
 <link rel="icon" type="image/png" href="static/img/logo5.png" th:href="@{/img/007.png}">
   <div th:replace="fragment/Frames combo :: myheader"></div>
   <link rel="stylesheet" type="text/css" href="static/css/stylesFormularios.css"
        th:href="@{/css/carrusel.css}">
        
 </head>
 <body>
 
 
  <div th:insert="fragment/Frames combo  :: menu" ></div>

  

    <div class="wrapper1" >
      <div class="title-text text-center">
        <div class="title-text">      
          <div class="title signup" style="font-size: 49px;color:#58d410" th:text="#{adduregister.title}">
            Registrate</div>
        </div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked>
          <input type="radio" name="slide" id="signup">
          <label for="login" class="slide signup"><a href="/signUp" th:text="#{adduregister.login.title}">Ingresar</a></label>
          <label for="signup" class="slide login"><a href="/inicioU" th:text="#{adduregister.title}">Registrate</a></label>
          <div class="slider-tab2" href="/inicioU">
          </div>
        </div>
        <div class="form-inner" style="margin-top: -1%;">
		
        <form class="signup show " th:action="@{/agregarU}" th:object="${usuario}" method="post">
          <div class="row">
            <div class="field col-sm-12  col-md-6 col-lg-6 form-group">
              <label for="nombre" style="font-size: 20px;margin-left: 2%;" th:text="#{adduser.name}">Nombre: </label>
              <input type="text" th:field="*{nombre}" th:placeholder="#{adduser.placeholder.name}" required="required">
              <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"  class="alert alert-danger error" role="alert" data-dismiss="alert"  id="x"></div>  
            </div>
            
            <div class="field col-sm-12  col-md-6 col-lg-6 form-group">
              <label for="nombre" style="font-size: 20px;margin-left: 3%;" th:text="#{adduser.lastname}" >Apellido: </label>
              <input type="text" th:field="*{apellido}"  th:placeholder="#{adduser.placeholder.lastname}" required="required">
              <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"  class="alert alert-danger error" role="alert" data-dismiss="alert"  id="x"></div>  
            </div>
          </div>

          <div class="row">
            <div class="field col-sm-12  col-md-6 col-lg-6 form-group">
              <label for="nombre" style="font-size: 20px;margin-left: 3%;" th:text="#{adduser.UserName}" >UserName: </label>
              <input type="text" th:field="*{nombreUsuario}" th:placeholder="#{adduser.placeholder.UserName}" required="required">
              <div th:if="${#fields.hasErrors('nombreUsuario')}" th:errors="*{nombreUsuario}"  class="alert alert-danger error" role="alert" data-dismiss="alert"  id="x"></div> 
              <div th:if="${nombreUsuario}" th:text="${nombreUsuario}" class="alert alert-danger error" role="alert" data-dismiss="alert"  id="x"></div>   
            </div>
            
            <div class="field col-sm-12  col-md-6 col-lg-6 form-group">
              <label for="nombre" style="font-size: 20px;margin-left: 3%;" th:text="#{adduser.telephone}">Telefono: </label>
              <input type="text" th:field="*{telefono}" th:placeholder="#{adduser.placeholder.telephone}" required="required">
              <div th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"  class="alert alert-danger error" role="alert" data-dismiss="alert"  id="x"></div>  
            </div>
          </div>

          <div class="field">
            <label for="nombre" style="font-size: 20px;margin-left: 2%;" th:text="#{adduser.email}">E-mail: </label>
            <input type="email" th:field="*{email}" th:placeholder="#{adduser.placeholder.email}" required="required">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  class="alert alert-danger error" role="alert" data-dismiss="alert"  id="x"></div>
            <div th:if="${correo}" th:text="${correo}" class="alert alert-danger error" role="alert" data-dismiss="alert"  id="x"></div> 
          </div>

          <div class="field">
            <label for="nombre" style="font-size: 20px;margin-left: 2%;" th:text="#{adduser.address}">Direccion: </label>
            <input type="text" th:field="*{descripcion}" th:placeholder="#{adduser.placeholder.address}" required="required">
            <div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"  class="alert alert-danger error" role="alert" data-dismiss="alert"  id="x"></div>
          </div>

          <div class="row">
            <div class="field col-sm-12  col-md-6 col-lg-6 form-group">
              <label for="contrasena" style="font-size: 20px;margin-left: 3%;" th:text="#{adduser.password}">Contrasena: </label>
              <input type="password" th:field="*{contrasena}" th:placeholder="#{adduser.placeholder.password}" required="required">
              <div th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}"  class="alert alert-danger error" role="alert" data-dismiss="alert"  id="x"></div>  
            </div>
            
            <div class="field col-sm-12  col-md-6 col-lg-6 form-group">
              <label for="conficontrasena" style="font-size: 20px;margin-left: 3%;" th:text="#{adduser.confirmPassword}">Confirmar Contrasena: </label>
              <input type="password" th:field="*{conficontrasena}" th:placeholder="#{adduser.placeholder.Confirm}" required="required">
              <div th:if="${errorPassword}" th:text="${errorPassword}"  class="alert alert-danger error" role="alert" data-dismiss="alert"  id="x"></div>
            </div>
          </div>

          <div class="field btn2">
            <div class="btn-layer">
            </div>
            <input type="submit" th:value="#{adduregister.login.boton}">
          </div>

        </form>
      
      </div>
    </div>
  
  </div>
  
  
    <!-- Fuente: https://www.codingnepalweb.com/2020/08/animated-login-and-signup-form-design.html  -->
    
   <div th:insert="fragment/Frames combo :: foot"></div>
   

 </body>
</html>
