<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragment/Frames combo :: myheader"></div>
	<link rel="stylesheet" type="text/css" href="static/css/stylePerfil.css" th:href="@{/css/stylePerfil.css}">
</head>
<body>

 <div th:insert="fragment/Frames combo  :: menu"></div>
 

    
   
        <div class="card col-sm-12 col-lg-7">
         

            <div class="content ">
                <div class="left "  th:each="usuario : ${usuario}">
                    <div class="Perfil-centrado titulo">
                        <h1 class="title ">Mi Perfil</h1>
                                         
                    </div>
                    <div>
                        <h4 class="Email" style="margin-top: 6%;">Nombre Completo</h4>
                        <p class="text" > <span th:text="${usuario.nombre}"> </span> <span th:text="${usuario.apellido}"> </span> </p>
                    </div>
                    
                    
                    <div>
                        <h4 class="Email">Nombre Usuario</h4>
                        <p class="text"th:text="${usuario.nombreUsuario}">nombre usuario</p>
                    </div>
                    <div>
                        <h4 class="Email">Mi Correo</h4>
                        <p class="text" th:text="${usuario.email}">corre@gmail.com</p>
                    </div>
                    <div>
                        <h4 class="address">Direccion</h4>
                        <p class="text" th:text="${usuario.descripcion}">direccion.</p>
                    </div>
                    <div>
                        <h4 class="phone">Telefono</h4>
                        <p class="text" th:text="${usuario.telefono}">311311311.</p>
                    </div>
                   
                    <div class="buttons-wrap" style="margin-top: 6%;">
                        <div class="follow-wrap">
                            <a th:href="@{/user/editU/{dni}(dni=${usuario.dni})}" class="follow">Editar Perfil</a>
                        </div>
                       
                    </div>
                </div>

              
            </div>
        </div>
        
    
   <div th:insert="fragment/Frames combo  :: foot"></div>
   

</body>
</html>