<!-- framentos con  el menu Admin de la plataforma-->    
<div th:fragment="menu">

 <div class="wrapper " style="padding: 0%;background: " th:switch="${categorias}">
        <!-- Sidebar  -->
      
        <nav  id="sidebar" >
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="text text-center">
                <a href="/" th:text="#{admin.menu}">Menu</a></div>
                 <div class=" text-center" style="font-size: 20px">
 				 <a  sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:text="#{admin.modoAdministrador}"></a> </div>

            <nav class="navbar navbar-light bg-light" style="margin-bottom: 1%;">
                <a class="navbar-brand"></a>
                <form class="form-inline" th:action="@{/findByTitulo}" method="get">
                    <input class="form-control mr-sm-1 " type="search" th:placeholder="#{admin.buscar}" aria-label="Search"
                        style="width: 285px;margin-left: -1%;" name="titulo">
                    <button class="btn btn-outline-primary " type="submit"><i class="fas fa-search"></i></button>
                </form>
           
            </nav>

            <ul class="list-unstyled components" style="margin-top:2rem">


				<li sec:authorize="!isAuthenticated()" style="margin-top: 15%">
                </li>
                
                <li style="text-align: center;margin-top: -8%;margin-bottom: 5%" sec:authorize="hasAnyAuthority('ROLE_USER','ROLE_ADMIN')">
                  
                   <i class="fas fa-child" ></i>   <span th:text="#{admin.Bienvenido}"></span>   <span  sec:authentication="name"></span> </a>
                </li>
	
                <li>
                    <a href="/">
                        <i class="fas fa-home"></i>
                         <span th:text="#{admin.Explorar}"></span></a>
                </li>	
                
                   <li>
                    <a href="/user/anuncio">
                        <i class="fas fa-shopping-cart"></i>
                       <span th:text="#{admin.Publicar}"></span></a>
                </li>
                <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                
                

                    <a href="#menuPerfil" data-toggle="collapse" aria-expanded="false">
                        <i class="fas fa-user"></i>
                       <span th:text="#{admin.Perfil}"></span></a>
                    <ul class="collapse list-unstyled" id="menuPerfil">
                        <li>
                            <a href="/inicioUser" th:text="#{admin.MiPerfil}"></a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="/user/ListAnuncio" th:text="#{admin.MisAnuncios}"> </a>
                        </li>
                        
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                            <a href="/admin/inicioAdmin" th:text="#{admin.AddAdmin}"> Administrador</a>
                        </li>
                    </ul>
                </li>
                
                
                
                 <li sec:authorize="hasAnyAuthority('ROLE_USER')">
                    <a href="/inicioUser">
                      <i class="fas fa-user"></i>
                          <span th:text="#{admin.MiPerfil}"></span></a></a>
                </li>
                
                 <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a href="/admin/listaUsuario" >
                       <i class="fas fa-users" style="font-size: 20px"></i> <span th:text="#{listUsers.title}"></span>
                        </a>
                </li>
              
                
                <li sec:authorize="hasAnyAuthority('ROLE_USER')">
                    <a href="/user/ListAnuncio">
                     <i class="fab fa-product-hunt"></i>
                        <span th:text="#{admin.MisAnuncios}"></span></a>
                </li>
                
                
                  <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                
                

                    <a href="#MenuLitasCatg" data-toggle="collapse" aria-expanded="false">
                      <i class="fas fa-clipboard-list"></i>
                         <span th:text="#{admin.ListaCategoria}"></span></a>
                    <ul class="collapse list-unstyled" id="MenuLitasCatg">
                        	<li>	
                             <a href="/admin/c"  th:text="#{admin.Categoria}"></a>
                         	</li>
                         	<li>
                               <a href="/admin/listaSubcategoria" th:text="#{admin.SubCategori}"></a>
                            </li>
                     
                    </ul>
                </li>
                
                 <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">

                    <a href="#MenuLitasPaises" data-toggle="collapse" aria-expanded="false">
                      <i class="fas fa-clipboard-list"></i>
                          <span th:text="#{admin.ListasPaisesTitulo}"></span></a>
                    <ul class="collapse list-unstyled" id="MenuLitasPaises">
                        	<li>
                                <a href="/listaPaises" th:text="#{admin.ListasPaisesTitulo}">Lista Paises</a>
                            </li>
                            <li>
                                <a href="/departamento/ListaDept" th:text="#{admin.ListaDptamentos}">Lista Departamentos</a>
                            </li>
                            <li>
                                <a href="/listaMunicipios" th:text="#{admin.ListaMunici}">Lista Municipios</a>
                            </li>
                     
                    </ul>
                </li>
                
                
                <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                
                

                    <a href="#menuCategorias" data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-tags"></i>
                        <span th:text="#{admin.GestionarCategoria}"></span></a>
                    <ul class="collapse list-unstyled" id="menuCategorias">
                        	<li>
                               <a th:href="@{/admin/registroCategoria}" th:text="#{registercategory.title}">Agregar Categoria</a>
                           </li>
                         	<li>
                               <a  th:href="@{/admin/registroSubcategoria}" th:text="#{subcategory.title}">Agregar Subcategoria</a>
                           </li>
                     
                    </ul>
                </li>
                

                <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">             
                    <a href="#menuPais" data-toggle="collapse" aria-expanded="false">
                 <i class="fas fa-map"></i>
                        <span th:text="#{admin.titleGestionarPaises}"></span></a>
                    <ul class="collapse list-unstyled" id="menuPais">
							<li >
                               <a href="/inicioPais" >Agregar Pais</a>
                           </li>
                           
                           <li >
                               <a href="/departamento/iniciodept" >Agregar Departamento</a>
                           </li>
                           <li >
                               <a href="/inicioMunicipio" >Agregar Municipio</a>
                           </li>
                     
                    </ul>
                </li>
              
                <li>
                    <div class="row">
                        <i class="fas fa-globe"
                            style="margin-left: 7%;margin-top: 3%;font-size: 20px;margin-bottom: -20%;"></i>
                        <select id="locales">

                            <option selected th:text="#{language}">Idioma </option>
                            <option value="es" th:text="#{language.spanish}">español</option>
                            <option value="en" th:text="#{language.english}"></option>
                            <option value="fr" th:text="#{language.frances}"></option>
                        </select>
                    </div>
                </li>


            </ul>

            <ul class="list-unstyled CTAs"  style="margin-top: 1.8rem">
           		<li sec:authorize="isAuthenticated()">
             		<a href="#" id="cerrar" class="btn btn-outline-light">
                    <form th:action="@{/logout}" method="post">
            			<input type="submit" th:value="#{admin.btnCerrarSesion}" id="botonc"/>
        			</form></a>
             	</li>
                <li sec:authorize="!isAuthenticated()" style="margin-top: 1rem">
                    <a href="/signUp" class="btn btn-outline-light">Iniciar Sesion</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/inicioU">Registrarte</a>
                </li>
            </ul>
        </nav>

	        <nav class="navbar  navbar-menu sticky-top" style="background: #ffffff;margin-bottom: 0%;position: inherit;">
	
	            <a href="/">
	                <img src="static/img/logo.png" class="card-img-top" th:src="@{/img/logo.png}" style="width: 200px;">
	            </a>
	     	
			
	            <button type="button" id="sidebarCollapse" class="btn" >
	                <span class="fas fa-bars">
	            </button>
	         
	        </nav>
        <hr style="background-color:#0098db; height: 3px; padding: 0 ;margin: 0" >
        
  

    </div>
    
    <!-- Page Content  -->

    <div class="overlay"></div>
</div> 