@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/*Fuente: https://www.codingnepalweb.com/2020/08/animated-login-and-signup-form-design.html*/
body{

  height: 100%;
  width: 100%;
  place-items: center;
  background:none;
 font-family: 'Poppins', sans-serif;
 
}


.login:active body{

  position:fixed;
}
::selection{
  background: #1c89d1;
  color: #fff;
}
.wrapper1{
	
  margin-right:auto;
  margin-left:auto;
  overflow: hidden;
  max-width: 890px;
  max-height: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.233);
}

.wrapper1:hover{

  box-shadow: 0px 1px 10px #1c89d1;
}
.wrapper1 .title-text{
  display: flex;
  width: 200%;
}
.wrapper1 .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper1 .slide-controls{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-admin .slide2{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  background: -webkit-linear-gradient(left, #58d410, #0d5f95);
  border-radius: 8px;
  margin-bottom: 2%;

}

.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;

  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #1c89d1, #0d5f95);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.slide-controls .slider-tab2{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #1c89d1, #0d5f95);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

input[type="radio"]{
  display: none;
}

#signup:checked ~ label.signup{
  color: #1c89d1;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #fff;
}
#login:checked ~ label.signup{
  color: #1c89d1;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper1 .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;

  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: auto;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 45px;
  width: 98%;
  outline: none;
  margin-top: 0%;
  padding-left: 15px;
  border-radius: 12px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.form-inner form .field .error{

  width: 98%;
  border-bottom-width: 2px;
  font-size: 20px;
  margin-bottom: auto;


}

.form-inner form .field #x::before{
  font-family: "Font Awesome\ 5 Free";
  content: "\f00d";
  margin-right: 2%

}

.form-inner form .field input:focus{
  border-color: #1c89d1;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}


form .btn2{
  height: 50px;
  width: 100%;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
form .btn2 .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #3bf023, #0f81ce, #3bf023);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn2:hover .btn-layer{
  left: 0;
}
form .btn2 input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}