*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.card{

	margin-right:auto;
	margin-left:auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.banners card{

	margin-left:auto;

  
}




.hover.active{
    opacity: 1;
}

.name{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
    line-height: 1;
    margin: 5px 0;
}

.sub-name{
    font-family: 'Cutive Mono', monospace;
    font-size: 1.3rem;
    opacity: .8;
    color: #fff;
}

.content{
    
    display:  center;
    padding: 1.7rem 2.5rem 2.6rem 2.5rem;
}


.title{
    text-align: center;
    color: #4facfe;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 2%;
 
}

.title:after{
    content: '';
    position: center;
    height: 3px;
    width: 50%;
    background-color: #555;
    bottom: 0;
    left: 0;
}

.text{
    color: #666;
    font-weight: 300;
    line-height: 1.7;
}





.follow-wrap, .share-wrap{
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    
}


.follow{
    padding: 9.6px 0;
    width: 100%;
     color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	background: linear-gradient(to right, #4facfe 0%, #00f2fe 140%);
    border-radius: 19.1px;
    margin-right: 3px;
}

.follow:hover{
  
    color: #fff;
  	
      transition: all 0.4s ease;;
  
   
}





	
.close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

.close:hover{
    opacity: .5;
}

.close:before, .close:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    top: 50%;
    left: 50%;
    background-color: #fff;
}

.close:before{
    transform: translate(-50%, -50%) rotate(45deg);
}

.close:after{
    transform: translate(-50%, -50%) rotate(135deg);
}

