body{

    background-size: cover;
     font-family: ivypresto-headline, serif;
    font-style: normal;
    font-weight: 100;
}


.main-section-categoria{
   
    margin-bottom: 3%;
    padding: 0;
    box-shadow: 0px 0px 8px 0 rgb(85, 84, 84);
    border-radius: 3px;
}

.myheader{
    background: #0098db;
    margin-bottom:-1px;
    font-size: 45px;
    border-top-left-radius: 3px;
	border-top-right-radius: 3px;
   
}

.myheader:hover{
    color: rgb(251, 251, 251);
    background: #0a63ba;
    text-decoration: none;
}


.nombre-tabel{
    background-color: #7dbc23;
    color: aliceblue;
    
}

.table-striped{
    font-size: 25px;
	background-color: rgba(234, 246, 248, 0.822);
    margin-bottom: 0%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.titulo{
	
    color: #f8f8f8;
    text-decoration: none;
}

.titulo:hover{
    color: rgb(251, 251, 251); 
    text-decoration: none;
}


#icon1{
    font-size: 25px;
    margin-right: 15%;
    margin-left: 30%;
    color: rgb(114, 113, 113);
}

#icon1:hover{
    color: rgb(27, 177, 97);
    
}

#icon2{
    font-size: 25px;
    color: rgb(114, 113, 113);
    margin-right: 5%;
}
#icon2:hover{
    color: rgb(230, 26, 26);
   
    
}
#contenidoCard{
	height: 110px;
    overflow: hidden;
}

.container-anuncio:hover #contenidoCard{
	    height: auto;

}
/** contenedor de lista de anuncios*/
.container-anuncio{
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px  rgb(0, 0, 0);

     
}

.container-anuncio:hover{
	    border: solid 2px #0296da;

}


#tituloCard{
	padding:0%;
	color: #f8f8f8;
    text-decoration: none;
    background: #0296da;
    font-size: 28px;
}





.container-error{
  
    margin-top: 5%;
    border-radius: 25px;
    box-shadow: 0px 0px 8px  rgb(0, 0, 0);
    border: none;
    
}


#icon-list{
    font-size: 20px;
    color: rgb(126, 126, 126);
   
    margin-bottom: 5%;
    
}
#icon-list:hover{
    color: rgb(230, 26, 26);
   
    
}

#icon-list2{
    font-size: 20px;
    color: rgb(126, 126, 126);
    margin-bottom: 5%;
 

}
#icon-list2:hover{
    color: rgb(67, 148, 224);
   
    
}

#foto {
    margin-top: -2%;
   padding:11px;
    width: 100%; 
    height: auto;
    overflow: auto;

    border: 10px;
    border: solid 0px #47a1ebd0;
}
#foto img{
  justify-content: center;
}

#foto2{
 
    width: 100%; 
    height: auto;
	margin: 0px;
	padding: 0;


}

#foto2::-webkit-scrollbar {	
	width: 5px;
	
}

#card{

    width: 100%;margin-top: 10%;
   	margin-right:-8%;
    border: solid 0px #47a1ebd0;
}
#card:hover{
    border: solid 2px #47eb55d0;
}



/** Estilos para el footer de la pagina*/
footer{

    width: 100%;
    background: #5487f6;
    color: white;  
    margin-top: 5%; 
  
    
}

.container-footer-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.pie{
	padding:0;
    width: 100%;  
    background: #08276b;
  
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
    
}

