<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
   <div th:replace="fragment/Frames combo :: myheader"></div>
 	<link rel="stylesheet" type="text/css" href="static/css/stylesList.css" th:href="@{/css/stylesList.css}">
</head>
<body>
    <div th:insert="fragment/Frames combo  :: menu"></div>
  
    <div class="row col"  style="padding-left:1;padding-right: 0" th:each="anuncio : ${anuncio}"  th:object="${anuncio}">


    <div class="col-sm-12 col-lg-7" style="margin-bottom: 2%;padding-right: 0">
      <div id="foto">
	      <h1 class="card-title text-center"  style="color:#2086dad0;font-size: 40px " th:text="${anuncio.titulo}"> </h1>
	        <img th:src="${anuncio.urlFoto}"  style="width: 100%; height: auto;" />
	        
	        <div class="card" style=" border: solid 1px #47a1ebd0;border-top: none;">
	        
	    
	        <div class="card-body">
	            <h3 class="card-subtitle mb-2 "><span style="margin-right: 2%;"><i
	                class="fas fa-dollar-sign"></i></span><samp th:text="${anuncio.precio}"></samp></h3>
	          <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 0%;"><span>Descripcion</h5>
	          <p class="card-text" style="margin-top: 2%;font-size: 18px;" th:text="${anuncio.descripcion}">
	            </p>
	        </div>
	      </div>
      </div>

    </div>
    <div class="col-sm-12 col-lg-5" style="margin-bottom: 1%;padding-right: 0">
     
		<div class="card" id="card">
            <div class="card-body">
              <h2 class="card-title text-center" style="color:#2086dad0; "> Datos Del Vendedor</h2>
              <hr style="background-color:rgba(39, 170, 46, 0.822); height: 3px; margin-top: 15;margin-bottom: 5%;">
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 2%;">Telefono</h5>
                  <h5 class="card-subtitle mb-2 " style="margin-top: 2%;" th:text="${anuncio.usuario.telefono}"></h5>
                </div>
                <div class="col-sm-12 col-lg-12">
                  <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 2%;">Correo</h5>
                  <h5 class="card-subtitle mb-2 " style="margin-top: 2%;"  th:text="${anuncio.usuario.email}"></h5>
                </div>
              </div>
              <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 2%;">Nombre Completo</h5>
              <h5 class="card-subtitle mb-2 " style="margin-top: 2%;" ><span th:text="${anuncio.usuario.nombre}"> </span> <span th:text="${anuncio.usuario.apellido}"> </span></h5>

             <div class="text-center">
                        <a th:href="@{https://api.whatsapp.com/send?phone=57{phone}(phone=${anuncio.usuario.telefono})}" target="_blank" class="btn btn-outline-success" style="margin-top: 5%;width: 60%;font-size: 20px"><i class="fab fa-whatsapp" ></i>  Enviar Mensaje</a>  
              </div>


            </div>
          </div>
  
    	</div>
     
     </div>
     <h1 class="text-center" style="background: #6bc82d;color: #ffffff;margin-top: 1%;"  th:if="${anuncios.isEmpty()}">No Hay Anuncios Relacionados</h1>
  
    <div th:if="${!anuncios.isEmpty()}">
    
    <h1 class="text-center" style="background: #6bc82d;color: #ffffff;margin-top: 1%;">Anuncios Relacionados</h1>
    
    <div th:insert="Usuario/index  :: anuncios" ></div>
  </div>
   

  <div th:insert="fragment/Frames combo :: foot"></div>
   <script src="static/js/subirImagen.js" th:src="@{/js/subirImagen.js}"></script>
</body>
</html>